In [1]:
import pandas as pd

fake = pd.read_csv('./data/Fake.csv')
true = pd.read_csv('./data/True.csv')

In [2]:
fake.head(3)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"

In [3]:
fake['target'] = 'fake'
true['target'] = 'true'

In [4]:
data = pd.concat([fake, true]).reset_index(drop=True)

In [5]:
'''
shuffling to prevent bias
'''

from sklearn.utils import shuffle

data = shuffle(data)
data = data.reset_index(drop=True)

In [6]:
# data clean

data.drop(['date'], axis=1, inplace=True)
data.drop(['title'], axis=1, inplace=True)

In [7]:
# lowercase 

data['text'] = data['text'].apply(lambda x: x.lower())

In [9]:
# removing punctuation

import string

def punctuation_removal(text):
    all_list = [char for char in text if char not in string.punctuation]
    clean_str = ''.join(all_list)
    return clean_str
data['text'] = data['text'].apply(punctuation_removal)

In [10]:
# creating stopwords

import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')

stop = stopwords.words('english')
data['text'] = data['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/scrunts23/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [11]:
print(data.groupby(['subject'])['text'].count())
data.groupby(['subject'])['text'].count().plot(kind="bar")
plt.show()

subject
Government News     1570
Middle-east          778
News                9050
US_News              783
left-news           4459
politics            6841
politicsNews       11272
worldnews          10145
Name: text, dtype: int64

NameError: name 'plt' is not defined